.column {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  img {
  }

  &.id::after {
    display: inline-block;
    content: "";
    height: 20px;
    width: 20px;

    margin-left: 10px;

    background-image: url(../../assets/arrow-updown.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
